.body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.icon {
  color: white;
  vertical-align: middle;
  line-height: 2px;
  font-size: 20px;
}
.icon_header {
  color: white;
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #09063d;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  color: white;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  color: white;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  flex-direction: column;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */

/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  background-color: #edf2f1;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}
.icon-bg {
  background-color: #edc045;
}

.search-bar {
  height: 30px;
  width: 200px;
  justify-content: flex-end;
  margin-left: 800px;
}
.search-input-container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: 800px;
  height: 20px;
  justify-content: flex-end;
}
.search-input {
  color: #0f172a;
  background-color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}

.search-icon {
  height: 20px;
  width: 20px;
  background-color: white;
}

.main-title {
  color: black;
  display: flex;
  flex-direction: row;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
  padding-left: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 8px 15px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-around;
}

.card-inner {
  background-color: #a1e6d4;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-sc {
  padding-left: 10px;
}
.card-icon1 {
  height: 30px;
  width: 30px;
  padding-top: 30px;
  color: #2c8c29;
}
.card-icon2 {
  color: #2c8c29;
  height: 20px;
  width: 20px;
}
.span-bg {
  color: green;
  font-weight: bold;
}
.product-heading {
  color: #b3b2af;
}
.product-heading1 {
  color: black;
  font-weight: bold;
}
.card-inner1 {
  background-color: #c48ee6;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-icon11 {
  height: 30px;
  width: 30px;
  padding-top: 30px;
  color: #5a1585;
}
.card-icon22 {
  color: red;
  height: 20px;
  width: 20px;
}
.span-bg1 {
  color: red;
  font-weight: bold;
}
.card-inner12 {
  background-color: #aad8e6;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-icon112 {
  height: 30px;
  width: 30px;
  padding-top: 30px;
  color: #5a1585;
}
.card-inner123 {
  background-color: #de92a2;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-icon1123 {
  height: 30px;
  width: 30px;
  padding-top: 30px;
  color: #a81e3b;
}

.card-inner > .card_icon {
  font-size: 25px;
}
.chart-heading {
  color: black;
  padding-left: 15px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  height: 250px;
  background-color: white;
  justify-content: space-between;
}
.chart-1 {
  height: 250px;
  width: 600px;
  justify-content: space-between;
}
.product-bg {
  grid-area: main;
  overflow-y: auto;
  background-color: #edf2f1;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}
.product-bg1 {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.product-bg12 {
  display: flex;
  flex-direction: row;
}
.chart-heading1 {
  color: gray;
  padding-left: 15px;
}
.bg-1 {
  padding-left: 80px;
}
.image-1 {
  height: 80px;
  width: 150px;
  border-radius: 10px;
  padding-left: 10px;
}
.image-details {
  height: 70px;
  width: 400px;
  padding-left: 20px;
}
.span-para {
  color: grey;
}

/* End Main  */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
